body {
  background: #ada0a6;
  color: #293132;
}

.card {
  background: #ffffff;
  width: 400px;
  margin: 16px auto;
  padding: 8px;
}

h1 {
  font-size: 32px;
  font-family: Monaco, "Lucida Console", sans-serif;
  background-color: #f9e7e7;
  padding: 8px 16px;
  text-align: center;
}

.recipes {
  background: #f9e7e7;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: auto;
  margin: 0 auto;
}

li {
  margin: 4px 0;
}

a {
  text-decoration: none;
}
